venv/
__pycache__/
*.pyc
.env
mlruns/
mlartifacts/
data/*.csv
data/*.parquet
data/warehouse.duckdb
*.duckdb
mlflow.db
mlflow_backup.db
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
data/last_accuracy.json
logs/
reports/
*.zip
*_backup.py
*_backup.txt
encoders/